<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Personal data
			</mat-panel-title>
			<mat-panel-description>
				Type your name and age
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div nz-row>
			<div nz-col nzSpan="4">
				<mat-form-field>
					<input matInput placeholder="First name" [(ngModel)]="firstName">
				</mat-form-field>
			</div>
			<div nz-col nzSpan="4">
				<mat-form-field>
					<input matInput placeholder="Address" [(ngModel)]="address">
				</mat-form-field>
			</div>
			<div nz-col nzSpan="4">
				<mat-form-field>
					<input matInput placeholder="Username" [(ngModel)]="userName">
				</mat-form-field>
			</div>
			<div nz-col nzSpan="4">
				<mat-form-field>
					<input matInput placeholder="E-mail" [(ngModel)]="email">
				</mat-form-field>
			</div>
			<div nz-col nzSpan="4">
				<mat-form-field>
					<input matInput placeholder="Password" [(ngModel)]="password">
				</mat-form-field>
			</div>
			<div nz-col nzSpan="4">
				<mat-form-field>
					<input matInput placeholder="No. Telp" [(ngModel)]="noTelp">
				</mat-form-field>
			</div>
			<div nz-col nzSpan="4">
				<mat-form-field>
					<input matInput placeholder="Gender" [(ngModel)]="gender">
				</mat-form-field>
			</div>
			<div nz-col nzSpan="24">
				<div nz-col nzSpan="4">
					<button nz-button nzType="primary" (click)="saveData()">Save<i nz-icon
							type="save" theme="outline"></i></button>
				</div>
				<div nz-col nzSpan="4">
					<button nz-button nzType="primary" (click)="resetData()"><i nz-icon type="undo" theme="outline"></i></button>
				</div>

			</div>

		</div>



	</mat-expansion-panel>
</mat-accordion>

<nz-divider></nz-divider>

<div>
	<!-- <app-list-user></app-list-user> -->
	<nz-table #DataSource [nzData]="dataSource" class="mat-elevation-z4">
		<thead>
			<tr>
				<th *ngFor="let col of cols">{{col.colTitle}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of DataSource.data">
				<td>{{data.nama}}</td>
				<td>{{data.gender}}</td>
				<td>{{data.address}}</td>
				<td>{{data.bornDate}}</td>
				<td>{{data.email}}</td>
				<td>{{data.notelp}}</td>
				<td>{{data.username}}</td>

				<!-- <td>{{data.password}}</td> -->
				<td>
					<a nz-button nzType="danger" (click)="deleteUser(data._id)">Delete</a>
					<nz-divider nzType="vertical"></nz-divider>
					<a nz-button nzType="primary">Update</a>
				</td>
			</tr>
		</tbody>
	</nz-table>
</div>